@import url('../../global.css');

.App {
  display: flex;
  text-align: center;
  color: white;
}

.btn-login {
  padding: .6em;
  color: var(--primary);
  margin: 10px;
  border-radius: 10px;
  border: 0;
  width: 25%;
}


.imgContainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.imgContainer h1 {
  color: rgb(149, 0, 255);
  width: 100%;
  margin-bottom: 0;
}

.imgContainer p {
  color: var(--secondary);
  width: 100%;
}

.containerForm {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: rgb(13, 1, 64);
  background: linear-gradient(128deg, rgba(13, 1, 64, 1) 0%, var(--primary) 42%, var(--secondary) 100%);
}

form input {
  border: 0px;
  width: 200%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  height: 2.5em;
  border-radius: 15px
}

.mobileTitle{
  display: none;
}
h1 {
  font-size: 2.5em;
}
form input {
  border: 0px;
  width: 20em;
  max-width: 25em;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 1.7em;
  border-radius: 15px;
}


form label {
  padding: 10px;
  display: flex;
  justify-content: center;
  padding: 1.2em;
  padding-bottom: .3em;
}

.btn-submit {
  margin-top: 2em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit button {
  padding: 15px;
  border-radius: 25px;
  max-width: 20em;
  border: 0px;
  width: 20em;
  background-color: rgb(255, 136, 0);
  color: white;
}


.btn-submit:active {
  transform: scale(0.9);
}


@media screen and (max-width: 720px) {
  .App {
    display: block;
  }

  .imgContainer {
    display: none;
  }

  .mobileTitle{
    display: block;
    padding: 1em;
  }

  .containerForm {
    background: rgb(13, 1, 64);
    background: linear-gradient(128deg, rgba(13, 1, 64, 1) 0%, var(--primary) 42%, var(--secondary) 100%);
    width: 100%;
  }
}