.error {
    margin:0;
    position: relative;
    color: rgb(255, 4, 4);
    top: 1em;
    font-weight: 500;
  
}
.error p {
    margin:0;
    color: rgb(255, 4, 4);
    font-size: .8em;
    font-weight: 500;
}