@import url('../../global.css');

.App {
  display: flex;
  text-align: center;
  color: white;
  height: 100vh;
}

.btn-login {
  padding: .6em;
  color: var(--primary);
  margin: 10px;
  border-radius: 10px;
  border: 0;
  width: 50%;
}


.imgContainer {
  width: 50%;
  position: relative;
  color: black;
  background-color: white;
}

.imgContainer h1 {
  width: 100%;
}

.containerForm {
  width: 50%;
  background: rgb(13, 1, 64);
  background: linear-gradient(128deg, rgba(13, 1, 64, 1) 0%, var(--primary) 42%, var(--secondary) 100%);
}

form input {
  border: 0px;
  width: 200%;
  max-width: 25em;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  height: 2.5em;
  border-radius: 15px;
}

h1 {
  font-size: 2.5em;
}

form label {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.btn-submit {
  padding: 10px;
}

.btn-submit button {
  padding: 15px;
  border-radius: 25px;
  max-width: 25em;
  border: 0px;
  width: 200%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(255, 136, 0);
  color: white;
}

.btn-submit:active {
  transform: scale(0.9);
}